@font-face {
  font-family: "Janna LT";
  src: local("Janna LT"), url("../fonts/janna.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Janna LT";
  src: local("Janna LT"), url("../fonts/janna-bold.woff") format("woff");
  font-weight: bold;
}

$family-headings: "Janna Lt", "Helvetica Neue", "Segoe UI", sans-serif;
$family-content: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  "Geeza pro", "Segoe Ui", Roboto, Oxygen-Sans, Ubntu, sans-serif;
