<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card Component's page</title>
  </head>
  <body>
    <div class="component-container">
      <div class="c-card">
        <div class="c-card__title">معلومات الشحن غير موجودة</div>
        <a href="#" class="c-btn c-btn--primary c-card__action"
          >ربط معلومات الشحن</a
        >
        <p class="c-card__desc">
          ان معلومات الشحن غير متوفرة. لقد سبق وقمت باعداد موقعك بجعله يبيع
          أغراض فعلية. عليك بملأ معلومات الشحن في متجر حتي يتاح لعكاظ معرفة
          كيفية توفير الشحن لزبائنك
        </p>
      </div>

      <div class="c-card c-card--no-discription">
        <div class="c-card__title">معلومات الشحن غير موجودة</div>
        <a href="#" class="c-btn c-btn--primary c-card__action"
          >ربط معلومات الشحن</a
        >
      </div>

      <div class="c-card c-card--no-action">
        <div class="c-card__title">معلومات الشحن غير موجودة</div>
        <p class="c-card__desc">
          ان معلومات الشحن غير متوفرة. لقد سبق وقمت باعداد موقعك بجعله يبيع
          أغراض فعلية. عليك بملأ معلومات الشحن في متجر حتي يتاح لعكاظ معرفة
          كيفية توفير الشحن لزبائنك
        </p>
      </div>
    </div>
  </body>
</html>
